In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import pandas as pd
from mpl_toolkits.mplot3d import axes3d

In [21]:
df = pd.read_csv("xyz.csv")

x= df['Longitud']
y= df['Latitud']
z= df['Intensidad']

X=[]
Y=[]
Z=[]

i=0
for i in range(np.size(x)):
    X.append(x[i])
    Y.append(y[i])
    Z.append(z[i])

In [20]:
i=np.random.choice(np.size(X))
i=4
print(i)
print(x[i], y[i],z[i])
df

4
15.1 -94.34 19

     Longitud  Latitud  Intensidad
0      -94.61    15.14          23
1      -94.40    15.20          16
2      -94.66    15.37          18
3      -94.29    14.94          16
4      -94.34    15.10          19
..        ...      ...         ...
945    -94.65    15.29          29
946    -94.64    15.24          13
947    -94.85    15.62          32
948    -94.11    14.85          58
949    -94.14    14.86          31

[950 rows x 3 columns]

In [ ]:
for i in range(np.size(x)):
    X.append(x[i])
    Y.append(x[i])
    Z.append(x[i])

In [ ]:
print('Latitud')
print(X)
print('Longitud')
print(Y)
print('Intensidad')
print(Z)

In [ ]:
Xin=np.random.choice(X)
print(Xin)

15.46